<body style="" marginwidth="0" marginheight="0">
    <div class="fun-widget" style="text-align: center;">
    	<div class="fun-widget-btn" id="new_participant" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px; border-radius: 0px 0px 3px 3px; background-color: rgb(191, 87, 0); color: rgb(255, 255, 255); top: 28%;right: auto;bottom: auto;left: 0px;position: fixed;z-index: 2147483644;transition-property: left;transition-duration: 500ms;transition-timing-function: ease-in-out;transition-delay: 50ms;transform: translateY(58px) rotate(-90deg);transform-origin: 0 0; opacity: 0.90;" onclick="window.open('http://covid19.ut-wcwh.org/study-instructions/', '_blank')">
    		<div class="fun-widget-btn-text" style="color: rgb(255, 255, 255); ">Sign Up!</div>
    	</div>
    	<div class="fun-widget-btn" id="enrolled_participant" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px; border-radius: 0px 0px 3px 3px; background-color: rgb(191, 87, 0); color: rgb(255, 255, 255); top: 60%;right: auto;bottom: auto;left: 0px;position: fixed;z-index: 2147483644;transition-property: left;transition-duration: 500ms;transition-timing-function: ease-in-out;transition-delay: 50ms;transform: translateY(58px) rotate(-90deg);transform-origin: 0 0; opacity: 0.90;"  onclick="window.location.href='http://covid19.ut-wcwh.org/study-info/'">
    		<div class="fun-widget-btn-text" style="color: rgb(255, 255, 255);">Study Information</div>
    	</div>
        <div class="fun-widget-btn" id="team" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px; border-radius: 0px 0px 3px 3px; background-color: rgb(191, 87, 0); color: rgb(255, 255, 255); top: 75%;right: auto;bottom: auto;left: 0px;position: fixed;z-index: 2147483644;transition-property: left;transition-duration: 500ms;transition-timing-function: ease-in-out;transition-delay: 50ms;transform: translateY(58px) rotate(-90deg);transform-origin: 0 0; opacity: 0.90;"  onclick="window.location.href='http://covid19.ut-wcwh.org/team/'">
    		<div class="fun-widget-btn-text" style="color: rgb(255, 255, 255);">Team</div>
    	</div>
    </div>
</body>
